body {
    text-align: center;
}

#headline {
    background-image: url("../img/onecoinbackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-size: 100% 500px;
    position: relative;
  }
.cryptonite {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 78px;
    margin-left: 6%;
    color: rgb(214, 151, 57);
}

#menuBar { /* The menu bar */
    margin-left: 6%;
    margin-bottom: 20px;
    position: sticky; top: 0;
} 

#container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px;
}

.coinBox {
    border: 2px solid black;
    box-shadow: 2px 2px 8px 3px;
    border-radius: 15px;
    width: 130px;
    height: 130px;
    padding: 20px;
    margin-left: 25px;
    margin-top: 25px;
    text-align:left;
}

.coinBox:hover {
    border: 2px solid rgb(192, 58, 58);
}

.err-notice {
    text-align: center;
    padding: 30px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 45px;
}

